In [1]:
import streamlit as st
import pandas as pd
import math
from pathlib import Path

# Set the title and favicon that appear in the Browser's tab bar.
st.set_page_config(
    page_title='NS Train Capacity',
    page_icon=':earth_americas:', # This is an emoji shortcode. Could be a URL too.
)

# -----------------------------------------------------------------------------
# Declare some useful functions.

@st.cache_data
def get_gdp_data():
    """Grab GDP data from a CSV file.

    This uses caching to avoid having to read the file every time. If we were
    reading from an HTTP endpoint instead of a file, it's a good idea to set
    a maximum age to the cache with the TTL argument: @st.cache_data(ttl='1d')
    """

    # Instead of a CSV on disk, you could read from an HTTP endpoint here too.
    DATA_FILENAME = Path(__file__).parent/'data/train_data.csv'
    raw_gdp_df = pd.read_csv(DATA_FILENAME)

    MIN_YEAR = 2020
    MAX_YEAR = 2022

    # The data above has columns like:
    # - Country Name
    # - Country Code
    # - [Stuff I don't care about]
    # - GDP for 1960
    # - GDP for 1961
    # - GDP for 1962
    # - ...
    # - GDP for 2022
    #
    # ...but I want this instead:
    # - Country Name
    # - Country Code
    # - Year
    # - GDP
    #
    # So let's pivot all those year-columns into two: Year and GDP
    #gdp_df = raw_gdp_df.melt(
    #    ['Country Code'],
    #    'Year',
    #    'GDP',
    #)

    # Convert years from string to integers
    #gdp_df['Year'] = pd.to_numeric(gdp_df['Year'])

    return raw_gdp_df



# -----------------------------------------------------------------------------
# Draw the actual page

# Set the title that appears at the top of the page.

# :earth_americas: GDP dashboard

'''Browse NS data from the [World Bank Open Data](https://data.worldbank.org/) website. As you'll
notice, the data only goes to 2022 right now, and datapoints for certain years are often missing.
But it's otherwise a great (and did I mention _free_?) source of data.
'''

# Add some spacing
''
''

2024-10-07 11:08:00.488 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 11:08:00.488 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

''

In [12]:
gdp_df = pd.read_csv("data/train_data.csv", sep=";")

df_sum = gdp_df.groupby(['Jaar', 'Maand'])['Aantal_check_ins'].sum().reset_index()
df_sum

    Jaar  Maand  Aantal_check_ins
0   2020      1           1156312
1   2020      2           1102562
2   2020      3            622431
3   2020      4            157617
4   2020      5            235016
5   2020      6            361558
6   2020      7            441978
7   2020      8            435787
8   2020      9            623555
9   2020     10            529440
10  2020     11            527295
11  2020     12            433982
12  2021      1            349299
13  2021      2            343969
14  2021      3            487865
15  2021      4            470550
16  2021      5            510986
17  2021      6            605840
18  2021      7            529992
19  2021      8            514110
20  2021      9            815650
21  2021     10            832433
22  2021     11            814578
23  2021     12            645409
24  2022      1            554188
25  2022      2            690881
26  2022      3            860518
27  2022      4            833376
28  2022      5            846943
29  2022      6            845893
30  2022      7            665953
31  2022      8            605456
32  2022      9            942144
33  2022     10            923220
34  2022     11            998820
35  2022     12            896550

In [2]:
from pathlib import Path
DATA_FILENAME = Path(__file__).parent/'data/Randstad.csv'
stations = pd.read_csv(DATA_FILENAME)

NameError: name '__file__' is not defined